---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
<h1 class="text-2xl font-bold text-center mb-4">Bienvenue sur le site web de la mechanique</h1>
<div class="flex justify-center gap-8 m-8">
		<Card title="Amortisseurs" href="/amortisseurs" body='Placez des chandelles sous le véhicule et levez ce dernier. Le véhicule ne repose désormais que sur ses roues arrière. Cette opération annule la compression du train avant et facilite ainsi le démontage...' />
		<Card title="Disques et plaquettes" href="/disques-plaquettes" body='Lever sur un pont ou posé sur cric+chandelle la voiture'' />
</div>
	</main>
</Layout>
