---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav class="flex justify-center space-x-4 p-8">
			<a href="/" class="text-blue-500 hover:text-blue-700">Acceuil</a>
			<a href="/amortisseurs" class="text-blue-500 hover:text-blue-700">Amortisseurs</a>
			<a href="/disques-plaquettes" class="text-blue-500 hover:text-blue-700">Disques et plaquettes</a>
		</nav>
		<slot />
	</body>
</html>
<style is:global>
</style>
